@page "/ticket/create"
@page "/ticket/{ticketId:long}"
@page "/subtask/create/{parentId:long}"

@inherits TicketBase
@attribute [Authorize]

<div class='page-cont'>
    <MudPaper Class='page-cont__background' Square Elevation='0'>
        @if (!dataFetched)
        {
            <SkeletonTicket />
        }
        else
        {
            <MudPaper Class='mainlayout-subheader' Square Elevation='0'>
                <MudChip id='ticketid-chip' Class='font-bold' Label Size='Size.Small'
                    Color='@(_action == Enums.CrudeMode.Add ? Color.Error : 
                            (_action == Enums.CrudeMode.Edit ? Color.Info : 
                            (_action == Enums.CrudeMode.View ? Color.Success : Color.Primary)))'>
                    Ticket Number - @(!string.IsNullOrWhiteSpace(currTicket.TicketNumber) ? currTicket.TicketNumber : "Auto")
                </MudChip>
                <MudTooltip Text='@(currTicket.TicketNumber.Contains("auto", StringComparison.InvariantCultureIgnoreCase) ? "Nothing to copy" : "copy")' Arrow>
                <MudIconButton OnClick='(() => CopyTextToClipboard(currTicket.TicketNumber))' Icon="@Icons.Material.Filled.ContentCopy"  Size='Size.Small'
                    Disabled='@(currTicket.TicketNumber.Contains("auto", StringComparison.InvariantCultureIgnoreCase) ? true : false)'/>
                </MudTooltip>
                <MudSpacer />
                <MudTooltip Text='Create new ticket' Arrow>
                    <MudButton Class='btn-ios-d font12' OnClick='CreateNew' Color='Color.Info' 
                        Variant='Variant.Filled' Size='Size.Small' DisableElevation>
                        Create New
                    </MudButton>
                </MudTooltip>
            </MudPaper>
            <div class='ticket-container overflow-auto'>
                <div class="ticket-content">
                    <MudPaper>
                        <MudCardHeader Class='py-2'>
                            <MudIcon Icon='fa-solid fa-circle-info' Size='Size.Medium' />
                            <MudText Class='ml-2 ff-theramin ltr-spc-1px wspace-nowrap' Typo='Typo.h6'>@issueTitleHeader</MudText>
                            <MudSpacer />
                            <MudBadge Content="@(currTicket.TicketFileAttachmentModels.Count())" Color="Color.Error" Overlap Visible='@(currTicket.TicketFileAttachmentModels.Count() > 0 ? true : false)'>
                                <MudButton Class='btn-ios-d font12 wspace-nowrap' OnClick='(() => _isPopUpOpen = !_isPopUpOpen)' EndIcon='@Icons.Material.Filled.AttachFile' Size='Size.Small' 
                                    Variant='Variant.Text' DisableElevation>
                                    Attach File
                                </MudButton>
                            </MudBadge>
                            <MudPopover Open='_isPopUpOpen' Fixed AnchorOrigin='Origin.BottomRight' TransformOrigin='Origin.TopRight'>
                                <MudPaper Elevation='0' Width='400px'>
                                    <MudCardHeader Class='py-2'>
                                        <MudSpacer />
                                        <MudText Typo='Typo.caption'>
                                            @(currTicket.TicketFileAttachmentModels.Count() > 1 ? "Files attached: " : "File attached: ")
                                            @currTicket.TicketFileAttachmentModels.Count()
                                        </MudText>
                                    </MudCardHeader>
                                    <MudDivider />
                                    <MudCardContent>
                                    <div class='transition-05s-ease overflow-hidden' style='@((currTicket.TicketFileAttachmentModels.Count() > 0) ? "max-height:150px" : "min-height:15px")'>
                                        <MudPaper Class='d-flex flex-column overflow-y-auto' Square Elevation='0' MinHeight='30px' MaxHeight='150px'>
                                            @if (currTicket.TicketFileAttachmentModels.Count() > 0)
                                            {
                                                <MudGrid Spacing='1'>
                                                    @foreach (var item in currTicket.TicketFileAttachmentModels)
                                                    {
                                                        <MudItem Class='d-flex align-center justify-center' xs=1>
                                                            <MudIcon Icon='@(Extensions.DetermineFileIcon(item.FileName))' Size='Size.Medium' Style='@(Extensions.DetermineFileColor(item.FileName))' />
                                                        </MudItem>
                                                        <MudItem Class='d-flex align-center' xs=9>
                                                            <MudText Class='txt-oflow-elipsis' Typo='Typo.body2'>@item.FileName</MudText>
                                                        </MudItem>
                                                        <MudItem Class='d-flex align-center justify-end' xs=2>
                                                            <MudTooltip Text='Download file' Arrow>
                                                                <MudIconButton OnClick='(() => DownloadFile(item))' Icon='@Icons.Material.Filled.DownloadForOffline' Size='Size.Small' Color='Color.Dark' />
                                                            </MudTooltip>
                                                            <MudTooltip Text='Remove file' Arrow>
                                                                <MudIconButton Class='mr-1' OnClick='(() => RemoveFile(item))' Icon='@Icons.Material.Filled.DeleteForever' Size='Size.Small' Color='Color.Dark' Disabled='@(item.TicketId > 0 ? true : false)' />
                                                            </MudTooltip>
                                                        </MudItem>
                                                        <MudDivider />
                                                    }
                                                </MudGrid>
                                            }
                                            else
                                            {
                                                <div class='d-flex flex-1 align-center justify-center'>
                                                    <MudText Typo='Typo.body2'>No files attached.</MudText>
                                                </div>
                                            }
                                        </MudPaper>
                                    </div>
                                    </MudCardContent>
                                    @if (isUploading)
                                    {
                                        <MudProgressLinear Color="Color.Primary" Value='progressValue' />
                                    }
                                    <MudDivider />
                                    <MudCardActions>
                                        <div class='d-flex flex-1 align-center gap-2'>
                                            <MudButton OnClick='ResetFileAttachments' Size='Size.Small' Color='Color.Error' 
                                                Disabled='@(currTicket.TicketFileAttachmentModels.Count() == 0 || !string.IsNullOrWhiteSpace(currTicket.TicketNumber) ? true : false)'>
                                                Clear
                                            </MudButton>
                                            <MudSpacer />
                                            <MudButton OnClick='(() => _isPopUpOpen = !_isPopUpOpen)' Size='Size.Small'>Close</MudButton>
                                            <MudButton Class='btn-ios-d font12' HtmlTag='label' for='fileinput' EndIcon='@Icons.Material.Filled.CloudUpload' 
                                                Variant='Variant.Filled' Size='Size.Small' Color='Color.Info'>
                                                Browse
                                            </MudButton>
                                            <InputFile id="fileinput" OnChange="UploadFiles" hidden multiple accept='@acceptedFileFormat' />
                                        </div>
                                    </MudCardActions>
                                </MudPaper>
                            </MudPopover>
                        </MudCardHeader>
                        <MudDivider />
                        <EditForm Model='@currTicket' OnValidSubmit='OpenDialog'>
                            <DataAnnotationsValidator />
                            <MudCardContent>
                                <MudGrid Spacing='1'>
                                    <MudItem xs=12>
                                        <MudTextField Class='minput-lbl-1' @bind-Value='@currTicket.IssueSummary' Label='ISSUE :' Variant='Variant.Text' Placeholder='What is your issue?(Keep it brief/short)' Clearable
                                            ReadOnly='isTitleReadOnly' OnBlur='@(() => currTicket.IssueSummary = ConverToUpperCase(currTicket.IssueSummary))' 
                                            HelperText='Required*' For='@(() => @currTicket.IssueSummary)' />
                                    </MudItem>
                                    <MudItem xs=12>
                                        <MudField Class='minput-lbl-1 blzrthead-maxheight-1' Label='CATEGORY :' DisableUnderLine>
                                            <BlazoredTypeahead SearchMethod='SearchCategoryList' Context='ticketCategoryContext' Value='selectedTicketCategory' MaximumSuggestions='99' DisableClear EnableDropDown
                                                ValueExpression='(() => selectedTicketCategory)'
                                                ValueChanged='((TicketCategoryModel ticketCategory) =>
                                                {
                                                    currTicket.TicketCategoryId = ticketCategory.Id;
                                                    currTicket.TicketCategoryName = ticketCategory.CategoryName;
                                                    currTicket.TicketCategoryTypeId = ticketCategory.CategoryTypeId;
                                                })'>
                                                <SelectedTemplate>
                                                    @currTicket.TicketCategoryName
                                                </SelectedTemplate>
                                                <ResultTemplate>
                                                    @ticketCategoryContext.CategoryName    
                                                </ResultTemplate>
                                            </BlazoredTypeahead>
                                            <div class='d-flex align-center val-msg-12px'>
                                                <ValidationMessage For="@(() => @currTicket.TicketCategoryId)"/>
                                            </div>
                                        </MudField>
                                    </MudItem>
                                    <MudItem xs=12>
                                        <MudTextField Id='tg_tdesc' Class='minput-lbl-1' @bind-Value='@currTicket.TaskDescription' Label='DESCRIPTION :' Variant='Variant.Outlined' Placeholder='Describe your issue here (Minimum 15 characters)'
                                            Lines='6' ReadOnly='isDescriptionReadOnly' OnBlur='@(() => currTicket.TaskDescription = ConverToUpperCase(currTicket.TaskDescription))'
                                            HelperText='Required*' For='@(() => @currTicket.TaskDescription)'/>
                                    </MudItem>
                                    <MudItem xs=4>
                                        <MudSelect Class='minput-lbl-1' @bind-Value='@currTicket.TicketBranchId' Label='BRANCH' Placeholder='Select your Branch' Text='@currTicket.TicketBranchName'
                                            ReadOnly='isBranchReadOnly' HelperText='Required*' For='@(() => currTicket.TicketBranchId)'>
                                            @foreach (TicketBranchModel item in GlobalList.TicketBranchList)
                                            {
                                                <MudSelectItem Value="@item.Id">@item.BranchName</MudSelectItem>
                                            }
                                        </MudSelect>
                                    </MudItem>
                                    <MudItem xs=8>
                                        <MudTextField Class='minput-lbl-1' @bind-Value='@currTicket.Location' Label='LOCATION' Placeholder='Your current location(e.g. Accounting, Warehouse, etc.,)' Clearable='isClearable'
                                            ReadOnly='isLocationReadOnly' HelperText='Required*' OnBlur='@(() => currTicket.Location = ConverToUpperCase(currTicket.Location))'
                                            For='@(() => @currTicket.Location)'/>
                                    </MudItem>
                                </MudGrid>
                            </MudCardContent>
                            <MudDivider />
                            <MudCardActions Class='gap-2'>
                                @if (_action != Enums.CrudeMode.View)
                                {
                                    <MudButton Class='btn-ios-d pa-1 font12' OnClick='MapDefaults' Color='Color.Error' Variant='Variant.Text' DisableElevation >Reset</MudButton>
                                    <MudSpacer />
                                    <MudButton Class='btn-ios-d font12' OnClick='Cancel' Variant='Variant.Text' Disabled='isBtnDisabled' Size='Size.Small' DisableElevation>Cancel</MudButton>
                                    <MudButton Class='btn-ios-d font12' ButtonType='ButtonType.Submit' Variant='Variant.Filled' Color='@(_action == Enums.CrudeMode.Edit ? Color.Info:Color.Success)' Disabled='isBtnDisabled' Size='Size.Small' DisableElevation>
                                        @if (_processing)
                                        {
                                            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                                            <MudText Class="ms-2" Typo='Typo.button'>Saving</MudText>
                                        }
                                        else
                                        {
                                            <MudText Typo='Typo.button'>@btnSubmitLabel</MudText>
                                        }
                                    </MudButton>
                                }
                            </MudCardActions>
                        </EditForm>
                    </MudPaper>
                    <div class='d-flex align-center gap-2 mt-4'>
                        <MudIcon Class='bounce-anim-sm' Icon='@Icons.Material.Filled.PriorityHigh' Size='Size.Small' Color='Color.Error' />
                        <p class='font-reminders-sm'>Reminders: Please kindly wait for the IT to check your Ticket. IT personnel may be busy or catering other issues. Thank you.</p>
                    </div>
                </div>
                <div class="ticket-sidebar">
                    <MudGrid Spacing='1'>
                        <MudItem xs=12>
                            <MudPaper>
                                <MudExpansionPanels Elevation='0' Dense>
                                    <MudExpansionPanel Dense>
                                        <TitleContent>
                                            <div class='d-flex'>
                                                <MudIcon Icon='@Icons.Material.Filled.WarningAmber' Size='Size.Small' />
                                                <MudSpacer />
                                                <MudText Typo='Typo.button'>PRIORITY</MudText>
                                                <MudSpacer />
                                            </div>
                                        </TitleContent>
                                        <ChildContent>
                                            <MudDivider />
                                            <div class='d-flex align-center justify-center pa-2 '>
                                                <MudMenu Class='menu-lbl-1' Label='@Extensions.GetEnumDescription(currTicket.PriorityLevelId)' Dense Size='Size.Small' EndIcon='@Icons.Material.Filled.KeyboardArrowDown' Variant='Variant.Filled'
                                                    Color='@(currTicket.PriorityLevelId == Enums.PriorityLevel.Low ? Color.Info : 
                                                    (currTicket.PriorityLevelId == Enums.PriorityLevel.Medium ? Color.Warning : 
                                                    (currTicket.PriorityLevelId == Enums.PriorityLevel.High ? Color.Error : Color.Primary)))' FullWidth
                                                    AnchorOrigin='Origin.BottomCenter' TransformOrigin='Origin.TopCenter' ActivationEvent='MouseEvent.MouseOver' DisableElevation >
                                                    @foreach (Enums.PriorityLevel item in Enum.GetValues(typeof(Enums.PriorityLevel)))
                                                    {
                                                        <MudMenuItem OnClick='(() => SelectedPriority(item))'>
                                                            <MudChip Class='rounded-0' Size='Size.Small'
                                                                Color='@(item == Enums.PriorityLevel.Low ? Color.Info : 
                                                                    (item == Enums.PriorityLevel.Medium ? Color.Warning : 
                                                                    (item == Enums.PriorityLevel.High ? Color.Error : Color.Primary)))'>
                                                                    @Extensions.GetEnumDescription(item)
                                                            </MudChip>
                                                        </MudMenuItem>
                                                    }
                                                </MudMenu>
                                            </div>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudExpansionPanels>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs=12>
                            <MudPaper>
                                <MudExpansionPanels Elevation='0' Dense>
                                    <MudExpansionPanel Dense>
                                        <TitleContent>
                                            <div class='d-flex'>
                                                <MudIcon Icon='@Icons.Material.Filled.FactCheck' Size='Size.Small' />
                                                <MudSpacer />
                                                <MudText Typo='Typo.button'>TICKET TYPE</MudText>
                                                <MudSpacer />
                                            </div>
                                        </TitleContent>
                                        <ChildContent>
                                            <MudDivider />
                                            <MudRadioGroup Class='d-flex align-center gap-2 pa-2' @bind-SelectedOption='currTicket.TicketCategoryTypeId' For='@(() => currTicket.TicketCategoryTypeId)' 
                                                @onclick='GetTicketCategoryByType'>
                                                @foreach (Enums.TicketCategoryType item in Enum.GetValues(typeof(Enums.TicketCategoryType)))
                                                {
                                                    <MudRadio  Class='rdb-font12px' Option='@item' Dense Color='Color.Dark'>
                                                        @Extensions.GetEnumDescription(item)
                                                    </MudRadio>
                                                }
                                            </MudRadioGroup>
                                            <div class='d-flex align-center justify-center'>
                                                <MudTooltip Text='Reset Categories' Arrow Placement='Placement.Left'>
                                                    <MudButton OnClick='ResetTicketCategoryList' StartIcon='@Icons.Material.Filled.Refresh' Size='Size.Small'>Reset</MudButton>
                                                </MudTooltip>
                                            </div>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudExpansionPanels>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs=12>
                            <MudPaper>
                                <MudExpansionPanels Elevation='0' Dense>
                                    <MudExpansionPanel IsInitiallyExpanded Dense>
                                        <TitleContent>
                                            <div class='d-flex'>
                                                <MudIcon Icon='@Icons.Material.Filled.ContactMail' Size='Size.Small' />
                                                <MudSpacer />
                                                <MudText Typo='Typo.button'>INFORMATION</MudText>
                                                <MudSpacer />
                                            </div>
                                        </TitleContent>
                                        <ChildContent>
                                            <MudPaper Elevation='0' Square Height='315px'>
                                                <MudDivider />
                                                <MudGrid Spacing='2'>
                                                    <MudItem xs=6>
                                                        <MudText Class='font-bold font12 mt-1'>Status:</MudText>
                                                        <MudChip Class='rounded color-white ma-0' Size='Size.Small' Style='@(Extensions.GetColor(currTicket.TicketStatusId))'>
                                                            <small>@currTicket.TicketStatusName</small>
                                                        </MudChip>
                                                    </MudItem>
                                                    <MudItem xs=6>
                                                        <MudText Class='font-bold font12 mt-1'>Ticket Date:</MudText>
                                                        <MudDatePicker Class='minput-lbl-1 inputs-12px txt-mdense' @bind-Date='dateTimeToday' DisableUnderline DisableToolbar MaxDate='DateTime.Now'
                                                            PickerClosed='GetServerTime' DateFormat='MM/dd/yyyy' Margin='Margin.Dense' IconSize='Size.Small' />
                                                    </MudItem>
                                                    <MudItem xs=12>
                                                        <MudField Class='minput-lbl-1' Label='Requestor:' DisableUnderLine>
                                                            <BlazoredTypeahead SearchMethod='@GetAllEmployees' @bind-Value='@requestorEmployee' DisableClear MinimumLength='3' 
                                                                Disabled='@(!currTicket.TicketStatusName.Contains("Approval", StringComparison.InvariantCultureIgnoreCase) ? true : false)'>
                                                                <SelectedTemplate>
                                                                    @if (context.Picture.Count() != 0 )
                                                                    {
                                                                        <MudAvatar Image='@($"data:image/png;base64, {Convert.ToBase64String(@context.Picture)}")' Size='Size.Small'/>
                                                                    }
                                                                    else
                                                                    {
                                                                        <MudAvatar Class='mb-1' Image='images/fglogo/fgci1-gs.png' Size='Size.Small' />
                                                                    }
                                                                    <MudText Class='ml-2' Typo='Typo.body2'>
                                                                        @context.EmployeeName
                                                                    </MudText>
                                                                </SelectedTemplate>
                                                                <ResultTemplate>
                                                                    <div class='d-flex align-center gap-2'>
                                                                        @if (context.Picture.Count() != 0 )
                                                                        {
                                                                            <MudAvatar Image='@($"data:image/png;base64, {Convert.ToBase64String(@context.Picture)}")' Size='Size.Medium'/>
                                                                        }
                                                                        else
                                                                        {
                                                                            <MudAvatar Class='mb-1' Image='images/fglogo/fgci1-gs.png' Size='Size.Medium' />
                                                                        }
                                                                        <div class='d-flex flex-column'>
                                                                            <MudText Class='font-bold' Typo='Typo.body2'>
                                                                                @context.EmployeeName
                                                                            </MudText>
                                                                            <MudText Typo='Typo.body2'>
                                                                                @context.Designation
                                                                            </MudText>
                                                                        </div>
                                                                    </div>
                                                                </ResultTemplate>
                                                            </BlazoredTypeahead>
                                                        </MudField>
                                                    </MudItem>
                                                    <MudItem xs=12>
                                                        <MudField Class='minput-lbl-1' Label='Department:' InnerPadding='false'>
                                                            <MudText Class='font12'>
                                                                @requestorEmployee.DepartmentName
                                                            </MudText>
                                                        </MudField>
                                                    </MudItem>
                                                    <MudItem xs=12>
                                                        <MudTextField Class='minput-lbl-1 inputs-12px' @bind-Value='@currTicket.ContactInformation' Label='Contact Information:' Variant='Variant.Text' Margin='Margin.Dense' />
                                                    </MudItem>
                                                </MudGrid>
                                            </MudPaper>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudExpansionPanels>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs=12>
                            <MudPaper>
                                <MudExpansionPanels Elevation='0' Dense>
                                    <MudExpansionPanel Dense>
                                        <TitleContent>
                                            <div class='d-flex'>
                                                <MudIcon Icon='@Icons.Material.Filled.HelpCenter' Size='Size.Small' />
                                                <MudSpacer />
                                                <MudText Typo='Typo.button'>Guide</MudText>
                                                <MudSpacer />
                                            </div>
                                        </TitleContent>
                                        <ChildContent>
                                            <MudDivider />
                                            <div class='pa-2'>
                                                <MudGrid Spacing='1'>
                                                    <MudItem Class='d-flex align-center gap-2' xs=12>
                                                        <small class='font-bold'>Having trouble categorizing your issue?</small>
                                                    </MudItem>
                                                    <MudItem Class='d-flex align-start justify-center flex-wrap gap-2' xs=12>
                                                        <MudTooltip Text='See Hardware Guide' Arrow Placement='Placement.Top'>
                                                            <MudButton Class='btnlbl-column bgc-lblue btn-transition-05s-ease' Href="https://www.google.com/search?q=computer+hardware" Target='_blank' Size='Size.Small' Variant='Variant.Filled'
                                                                DisableElevation>
                                                                <MudIcon Icon="fa-solid fa-computer" Title="Hardware" Size='Size.Small' />
                                                                <MudText Typo='Typo.caption'>Hardware</MudText> 
                                                            </MudButton>
                                                        </MudTooltip>
                                                        <MudTooltip Text='See Software Guide' Arrow Placement='Placement.Top'>
                                                            <MudButton Class='btnlbl-column bgc-lred btn-transition-05s-ease' Href="https://www.google.com/search?q=computer+software" Target='_blank' Size='Size.Small' Variant='Variant.Filled'
                                                                DisableElevation>
                                                                <MudIcon Icon="fa-solid fa-code" Title="Software" Size='Size.Small' />
                                                                <MudText Typo='Typo.caption'>Software</MudText>
                                                            </MudButton>
                                                        </MudTooltip>
                                                        <MudTooltip Text='See Admin Guide' Arrow Placement='Placement.Top'>
                                                            <MudButton Class='btnlbl-column bgc-lgreen btn-transition-05s-ease' Href="https://www.google.com/search?q=computer+admin" Target='_blank' Size='Size.Small' Variant='Variant.Filled'
                                                                DisableElevation>
                                                                <MudIcon Icon="fa-solid fa-folder-open" Title="Administration" Size='Size.Small' />
                                                                <MudText Typo='Typo.caption'>Administration</MudText>
                                                            </MudButton>
                                                        </MudTooltip>
                                                        <MudTooltip Text='Go to FGCI Dashboard' Arrow Placement='Placement.Top'>
                                                            <MudButton Class='btnlbl-column bgc-ldash btn-transition-05s-ease' Href="http://10.0.0.9:8080/" Target='_blank' Size='Size.Small' Variant='Variant.Filled'
                                                                DisableElevation>
                                                                <MudIcon Icon="fa-solid fa-grip" Title="FGCI Dashboard" Size='Size.Small' />
                                                                <MudText Typo='Typo.caption'>FGCI Dashboard</MudText>
                                                            </MudButton>
                                                        </MudTooltip>
                                                    </MudItem>
                                                </MudGrid>
                                            </div>
                                        </ChildContent>
                                    </MudExpansionPanel>
                                </MudExpansionPanels>
                            </MudPaper>
                        </MudItem>
                    </MudGrid>
                </div>
            </div>
        }
    </MudPaper>
</div>