@page "/subtask/{ticketId:long}"

@inherits SubTaskBase
@attribute [Authorize]

<div class='page-cont'>
    <MudPaper Class='page-cont__background' Square Elevation='0'>
        @if (!dataFetched)
        {
            <SkeletonDefaultList />
        }
        else
        {
            <div class='ticket-activity'>
                <MudPaper Class='ticket-activity__grid'>
                    <div class='activity-header'>
                        <MudTooltip Text='Back to list' Arrow>
                            <MudButton OnClick='Back' Variant="Variant.Text" Color='Color.Dark'
                                StartIcon="@Icons.Material.Filled.KeyboardReturn" Size='Size.Small' Disabled="@readOnly">Back</MudButton>
                        </MudTooltip>
                        <MudDivider Class='ml-1 mr-1' Vertical />
                        @if (GlobalList.TicketStatusList.Count() != 0)
                        {
                            @* <MudChip Class='color-white' OnClick='(() => FilterTableByChip("In Progress"))'
                                    Size='Size.Small' Style='@(Extensions.GetColor(2))'>
                                    <MudText Class='font12'>In Progress</MudText>
                                    <MudDivider Class='ml-1' Vertical />
                                    <div class='ml-1 custombadge'>
                                        <MudText Class='custombadge__content'>@chip2</MudText>
                                    </div>
                            </MudChip> *@
                            <MudChip Class='color-white' OnClick='(() => FilterTableByChip("Assigned"))'
                                Size='Size.Small' Style='@(Extensions.GetColor(8))'>
                                <MudText Class='font12'>Assigned</MudText>
                                <MudDivider Class='ml-1' Vertical />
                                <div class='ml-1 custombadge'>
                                    <MudText Class='custombadge__content'>@chip3</MudText>
                                </div>
                            </MudChip>
                            <MudChip Class='color-white' OnClick='(() => FilterTableByChip("Pending"))'
                                Size='Size.Small' Style='@(Extensions.GetColor(5))'>
                                <MudText Class='font12'>Pending</MudText>
                                <MudDivider Class='ml-1' Vertical />
                                <div class='ml-1 custombadge'>
                                    <MudText Class='custombadge__content'>@chip4</MudText>
                                </div>
                            </MudChip>
                            <MudChip Class='color-white' OnClick='(() => FilterTableByChip("Done"))'
                                Size='Size.Small' Style='@(Extensions.GetColor(6))'>
                                <MudText Class='font12'>Done</MudText>
                                <MudDivider Class='ml-1' Vertical />
                                <div class='ml-1 custombadge'>
                                    <MudText Class='custombadge__content'>@chip5</MudText>
                                </div>
                            </MudChip>
                            <MudTooltip Text='Click status for quick filter' Arrow Placement='Placement.Top' IsVisible='filterChipsVisible'>
                                <MudIconButton Class='wiggle-anim-sm' OnClick='(() => filterChipsVisible = !filterChipsVisible)'
                                    Icon='@Icons.Material.Filled.Info' Size='Size.Small' Color='Color.Info' />
                            </MudTooltip>
                        }
                        <MudSpacer />
                        <MudTooltip Text='Refresh activity list' Arrow>
                            <MudIconButton Class='@(isTableLoading ? "mudbtnico-rotate":"")' OnClick='ReloadSubTasks' Variant="Variant.Text" Icon="@Icons.Material.Filled.Refresh" Size='Size.Small' Color='@(isTableLoading ? Color.Info:Color.Dark)' />
                        </MudTooltip>
                        <MudDivider Class='ml-1 mr-1' Vertical />
                        <MudTooltip Text='Add sub task' Arrow>
                            <MudButton OnClick='AddSubTask' Variant="Variant.Text" Color='Color.Dark'
                                StartIcon="@Icons.Material.Filled.Add" Size='Size.Small' Disabled="@readOnly">Add Sub Task</MudButton>
                        </MudTooltip>
                    </div>
                    <div class='activity-content'>
                        <MudTable Class='activity-list-table' Items='@listOfSubTask' Breakpoint='Breakpoint.Xs' Hover FixedHeader FixedFooter RowsPerPage='10' Virtualize Dense LoadingProgressColor='Color.Primary'
                            Height='calc(100vh - 185px)' ServerData='new Func<TableState, Task<TableData<TicketModel>>>(LoadSubTicketsById)' @ref='tableVariable'>
                            <ColGroup>
                                <col style="width:150px"/>
                                <col />
                                <col />
                                <col style="width:20px"/>
                            </ColGroup>
                            <HeaderContent>
                                <MudTh>Ticket</MudTh>
                                <MudTh>Issue</MudTh>
                                <MudTh>Description</MudTh>
                                <MudTh Class='text-center'>Actions</MudTh>
                            </HeaderContent> 
                            <RowTemplate>
                                <MudTd DataLabel="TicketNumber">
                                    <div class='d-flex flex-column align-center justify-center'>
                                        <MudChip Class='rounded' Size='Size.Small' Color='Color.Dark'>
                                            @context.TicketNumber
                                        </MudChip>
                                        <MudText Typo='Typo.caption'>@Convert.ToDateTime(context.TicketDate).ToString("MM/dd/yyyy")</MudText>
                                    </div>
                                </MudTd>
                                <MudTd DataLabel="Issue">
                                    <MudText Class='txt-oflow-elipsis' Typo='Typo.body2'>@context.IssueSummary</MudText>
                                </MudTd>
                                <MudTd DataLabel="Description">
                                    <MudText Class='txt-oflow-elipsis' Typo='Typo.body2'> @context.TaskDescription</MudText>
                                </MudTd>
                                <MudTd Class='text-center' DataLabel="Actions">
                                    <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin='Origin.TopLeft' ActivationEvent='MouseEvent.MouseOver'
                                        TransformOrigin='Origin.TopRight' Dense Size='Size.Small'>
                                        <MudMenuItem OnClick='(()=> DeactivateSubTask(context))'>
                                            <div class='d-flex align-center gap-2'>
                                                <MudIcon Icon='@Icons.Material.Filled.DeleteForever' Size='Size.Small' />
                                                <MudText Typo='Typo.body2'>Remove Sub Task</MudText>
                                            </div>
                                        </MudMenuItem>
                                    </MudMenu>
                                </MudTd>
                            </RowTemplate>
                            <NoRecordsContent>
                                <MudText Typo='Typo.subtitle2' Color='Color.Error'>No records found</MudText>
                            </NoRecordsContent>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    </div>
                    <div class="activity-info">
                        <TicketInfoCard Ticket='@currTicket' />
                    </div>
                </MudPaper>
            </div>
        }
    </MudPaper>
</div>