@page "/ticket/list"

@inherits TicketListBase
@implements IDisposable
@attribute [Authorize]

<div class='page-cont' Square Elevation='0'>
    <MudPaper Class='page-cont__background' Square Elevation='0'>
        @if (!dataFetched)
        {
            <SkeletonDefaultList />
        }
        else
        {
            <MudContainer Class='ticketlist' MaxWidth='MaxWidth.ExtraExtraLarge'>
                <MudTable Class='ticketlist__table' Hover FixedHeader FixedFooter RowsPerPage='rowsPerPage' Breakpoint="Breakpoint.Xs" Dense Loading='isTableLoading' LoadingProgressColor='Color.Primary'
                    ServerData='new Func<TableState, Task<TableData<TicketModel>>>(LoadData)' @ref="tableVariable" Height='calc(100vh - 185px)'>
                    <ToolBarContent>
                        <MudGrid Class='ticketlist__table-toolbar' Spacing='1'>
                            <MudItem Class='left-toolbar' xs='8'>
                                @if (GlobalList.TicketStatusList.Count() != 0)
                                {
                                    <MudChip Class='color-white d-flex align-center' OnClick='(() => FilterTableByChip("For IT Approval"))'
                                        Size='Size.Small' Style='@(Extensions.GetColor(1))'>
                                        <MudText Class='font12'>For IT Approval</MudText>
                                        <MudDivider Class='ml-1' Vertical />
                                        <div class='ml-1 custombadge'>
                                            <MudText Class='custombadge__content'>@chip1</MudText>
                                        </div>
                                    </MudChip>
                                    <MudChip Class='color-white' OnClick='(() => FilterTableByChip("In Progress"))'
                                        Size='Size.Small' Style='@(Extensions.GetColor(2))'>
                                        <MudText Class='font12'>In Progress</MudText>
                                        <MudDivider Class='ml-1' Vertical />
                                        <div class='ml-1 custombadge'>
                                            <MudText Class='custombadge__content'>@chip2</MudText>
                                        </div>
                                    </MudChip>
                                    <MudChip Class='color-white' OnClick='(() => FilterTableByChip("Assigned"))'
                                        Size='Size.Small' Style='@(Extensions.GetColor(8))'>
                                        <MudText Class='font12'>Assigned</MudText>
                                        <MudDivider Class='ml-1' Vertical />
                                        <div class='ml-1 custombadge'>
                                            <MudText Class='custombadge__content'>@chip3</MudText>
                                        </div>
                                    </MudChip>
                                    <MudChip Class='color-white' OnClick='(() => FilterTableByChip("Pending"))'
                                        Size='Size.Small' Style='@(Extensions.GetColor(5))'>
                                        <MudText Class='font12'>Pending</MudText>
                                        <MudDivider Class='ml-1' Vertical />
                                        <div class='ml-1 custombadge'>
                                            <MudText Class='custombadge__content'>@chip4</MudText>
                                        </div>
                                    </MudChip>
                                    <MudChip Class='color-white' OnClick='(() => FilterTableByChip("Done"))'
                                        Size='Size.Small' Style='@(Extensions.GetColor(6))'>
                                        <MudText Class='font12'>Done</MudText>
                                        <MudDivider Class='ml-1' Vertical />
                                        <div class='ml-1 custombadge'>
                                            <MudText Class='custombadge__content'>@chip5</MudText>
                                        </div>
                                    </MudChip>
                                }
                                <MudTooltip Text='Click status for quick filter' Arrow Placement='Placement.Top' IsVisible='filterChipsVisible'>
                                    <MudIconButton Class='wiggle-anim-sm' OnClick='(() => filterChipsVisible = !filterChipsVisible)'
                                        Icon='@Icons.Material.Filled.Info' Size='Size.Small' Color='Color.Info' />
                                </MudTooltip>
                            </MudItem>
                            <MudItem Class='right-toolbar' xs='4'>
                                <MudTooltip Text='Refresh table' Arrow>
                                    <MudIconButton Class='@(isTableLoading ? "mudbtnico-rotate":"")' OnClick='(() => ReloadTable(false))' Size='Size.Small' Icon="@Icons.Material.Filled.Refresh" Color='@(isTableLoading ? Color.Info : Color.Default)'
                                        aria-label="Refresh" />
                                </MudTooltip>
                                <div>
                                    <MudTooltip Text='Filter table' Arrow>
                                        <MudButton Class='@(AppState.isTListFilterOpen ? "mudico-rotate180":"")' OnClick='(() => { AppState.isTListFilterOpen = !AppState.isTListFilterOpen; GlobalClass.isFromFilter = !GlobalClass.isFromFilter; })' 
                                            Size='Size.Small' StartIcon="@Icons.Material.Filled.Tune" Color='@(AppState.isTListFilterOpen ? Color.Info : Color.Default)'>
                                            Filter
                                        </MudButton>
                                    </MudTooltip>
                                    <MudPopover Class='tlist-popover-custom1' Open='AppState.isTListFilterOpen' Fixed='false' AnchorOrigin='Origin.BottomLeft' TransformOrigin='Origin.TopRight' OverflowBehavior='OverflowBehavior.FlipAlways'>
                                        <TicketListFilterComp FilterApplyClick="(() => ReloadTable(true))" />
                                    </MudPopover>
                                </div>
                                <MudMenu Class='ticketlist__table-menu mudbtnico-rotate-90' Label='More' StartIcon="@Icons.Material.Filled.MoreVert" AnchorOrigin='Origin.BottomCenter' ActivationEvent='MouseEvent.MouseOver'
                                    TransformOrigin='Origin.TopRight' Dense>
                                    <MudMenuItem OnClick='Add'>
                                        <div class='d-flex align-center gap-2'>
                                            <MudIcon Icon='@Icons.Material.Filled.Add' Size='Size.Small'/>
                                            <MudText Typo='Typo.body2'>Create Ticket</MudText>
                                        </div>
                                    </MudMenuItem>
                                </MudMenu>
                            </MudItem>
                        </MudGrid>
                    </ToolBarContent>
                    <ColGroup>
                        <col style="width: 100%;" />
                    </ColGroup>
                    <HeaderContent>
                        <MudTh>
                            <MudGrid Spacing='1'>
                                <MudItem Class='d-flex align-center' xs=12>
                                    <div class='d-flex align-center gap-2'>
                                        <MudText Typo='Typo.subtitle2'>Sort</MudText>
                                        <MudIcon Icon='@Icons.Material.Filled.Sort' Size='Size.Small' />
                                    </div>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortTicketNumber' T='TicketModel' 
                                            InitialDirection='SortDirection.Descending'>
                                            Ticket
                                        </MudTableSortLabel>
                                    </MudChip>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortTicketStatus' T='TicketModel' 
                                            InitialDirection='SortDirection.Descending'>
                                            Status
                                        </MudTableSortLabel>
                                    </MudChip>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortTicketDate' T='TicketModel' 
                                            InitialDirection='SortDirection.None'>
                                            Date
                                        </MudTableSortLabel>
                                    </MudChip>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortCategory' T='TicketModel' 
                                            InitialDirection='SortDirection.None'>
                                            Category
                                        </MudTableSortLabel>
                                    </MudChip>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortBranch' T='TicketModel' 
                                            InitialDirection='SortDirection.None'>
                                            Branch
                                        </MudTableSortLabel>
                                    </MudChip>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortDepartment' T='TicketModel' 
                                            InitialDirection='SortDirection.None'>
                                            Department
                                        </MudTableSortLabel>
                                    </MudChip>
                                    <MudChip Label Size='Size.Small' Color='Color.Default'>
                                        <MudTableSortLabel SortLabel='SortAssignee' T='TicketModel' 
                                            InitialDirection='SortDirection.None'>
                                            Assignee
                                        </MudTableSortLabel>
                                    </MudChip>
                                </MudItem>
                            </MudGrid>
                        </MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd>
                            <div class="tlistrow-container">
                                <div class="tlistrow-tnumber d-flex align-center justify-center">
                                    <MudText Class='font12 font-bold'># @context.TicketNumber</MudText>
                                </div>
                                <div class="tlistrow-priority d-flex justify-center">
                                    <MudChip Class='mchip-fullwidth' Color='@(context.PriorityLevelId == Enums.PriorityLevel.Low ? Color.Info :
                                        (context.PriorityLevelId == Enums.PriorityLevel.Medium ? Color.Warning :
                                        (context.PriorityLevelId == Enums.PriorityLevel.High ? Color.Error : Color.Default)))' Size='Size.Small'>
                                            @context.PriorityLevelId
                                    </MudChip>
                                </div>
                                <div class="tlistrow-status d-flex align-center justify-center">
                                    <MudChip Class='mchip-fullwidthheight' Label Size='Size.Small'
                                        Style='@(Extensions.GetColor(context.TicketStatusId))'>
                                        @context.TicketStatusName
                                    </MudChip>
                                </div>
                                <div class="tlistrow-header rounded-tr rounded-tl">
                                    <div class="thead-left px-2">
                                        <TicketListCatTypeIdIconIdentifier TicketCategoryId='context.TicketCategoryId' />
                                        <MudDivider Class='mx-2' Vertical />
                                        <MudText Class='txt-oflow-elipsis' Typo='Typo.subtitle2'>@context.IssueSummary</MudText>
                                        <MudSpacer />
                                        <TListSubTaskCheckComp TicketId='context.Id' TicketNumber='@context.TicketNumber' />
                                    </div>
                                    <div class="thead-center overflow-hidden">
                                        <MudTooltip Text='@Convert.ToDateTime(context.TicketDate).ToString("MM/dd/yyyy hh:mm tt")' Arrow Color='Color.Dark'>
                                            <MudIcon Icon='@Icons.Material.Filled.CalendarMonth' Size='Size.Small' />
                                        </MudTooltip>
                                        <MudText Class='font12 txt-oflow-elipsis' Typo='Typo.caption'>@Convert.ToDateTime(context.TicketDate).ToString("MM/dd/yyyy hh:mm tt")</MudText>
                                    </div>
                                    <div class="thead-right px-2">
                                        @if (IsVisibleToAssignedIT(context))
                                        {
                                            <MudBadge Content='GlobalList.TicketComments.Where(x=>x.TicketId == context.Id).Count()'
                                                Color="Color.Error" Overlap Bordered >
                                                <MudIconButton Icon='@Icons.Material.Outlined.Info' Size='Size.Small'/>
                                            </MudBadge>
                                        }
                                        else if (IsVisibleToClientAndNotAssigned(context))
                                        {
                                            <MudBadge Content='GlobalList.TicketComments.Where(x=>x.TicketId == context.Id).Count()' Bordered
                                                Color="Color.Error" Overlap Visible='GlobalList.TicketComments.Where(x=>x.TicketId == context.Id).Count() == 0 ? false : true'>
                                                <MudIconButton Icon='@Icons.Material.Outlined.Info' Size='Size.Small'/>
                                            </MudBadge>
                                        }
                                        else
                                        {
                                            <MudIconButton Icon='@Icons.Material.Outlined.Info' Size='Size.Small' />
                                        }
                                        <MudButton Class='btn-ios-d font12' OnClick='@(() => PreviewTicket(@context))' Size='Size.Small'
                                            StartIcon='@Icons.Material.Filled.ViewTimeline'>
                                            Preview
                                        </MudButton>
                                        <MudMenu Class='mudbtnico-rotate-90' StartIcon='@Icons.Material.Filled.MoreVert' AnchorOrigin='Origin.BottomLeft' TransformOrigin='Origin.TopRight' Dense ActivationEvent='MouseEvent.MouseOver'
                                            Size='Size.Small' Label='Menu'>
                                            <MudMenuItem>
                                                <a class='d-flex align-center gap-2' href='/ticket/@context.Id'>
                                                    <MudIcon Icon='@Icons.Material.Filled.Ballot' Size='Size.Small' />
                                                    <MudText Typo='Typo.body2'>
                                                        @(lblViewUpdate = context.TicketStatusId == 1 ? "Modify Ticket" : "View Ticket")
                                                    </MudText>
                                                </a>
                                            </MudMenuItem>
                                            @if (GlobalClass.CurrentUserAccount.AccessLevel != Enums.AccessLevel.Client)
                                            {
                                                <MudMenuItem OnClick='(() => Update(context))'>
                                                    <div class='d-flex align-center gap-2'>
                                                        <MudIcon Icon='@Icons.Material.Filled.PlaylistAddCheckCircle' Size='Size.Small'/>
                                                        <MudText Typo='Typo.body2'>
                                                            @(context.AssigneeId > 0 ? "Update Status" :"Assign IT")
                                                        </MudText>
                                                    </div>
                                                </MudMenuItem>
                                            }
                                            <MudMenuItem>
                                                <a class='d-flex align-center gap-2' href='/subtask/@context.Id'>
                                                    <MudIcon Icon='@Icons.Material.Filled.Task' Size='Size.Small'/>
                                                    <MudText Typo='Typo.body2'>Sub Ticket</MudText>
                                                </a>
                                            </MudMenuItem>
                                            @if (((byte)accesslevel) != 2 && context.TicketStatusId != 1 && context.TicketStatusId != 7  && context.TicketStatusId != 8 && context.TicketStatusId != 9)
                                            {
                                                <MudMenuItem>
                                                    <a class='d-flex align-center gap-2' href='/ticket/activity/@context.Id'>
                                                        <MudIcon Icon="fa-solid fa-list-check" Size='Size.Small'/>
                                                        <MudText Typo='Typo.body2'>Ticket Activity</MudText>
                                                    </a>
                                                </MudMenuItem>
                                            }
                                            <MudMenuItem>
                                                <a class='d-flex align-center gap-2' href='/audit/trail/@context.Id'>
                                                    <MudIcon Icon='@Icons.Material.Filled.ViewAgenda' Size='Size.Small'/>
                                                    <MudText Typo='Typo.body2'>Audit Trail</MudText>
                                                </a>
                                            </MudMenuItem>
                                            <MudMenuItem OnClick='(() => Print(context.Id))'>
                                                <div class='d-flex align-center gap-2'>
                                                    <MudIcon Icon="@Icons.Material.Filled.Print" Size='Size.Small'/>
                                                    <MudText Typo='Typo.body2'>Print</MudText>
                                                </div>
                                            </MudMenuItem>
                                            @if (context.TicketStatusId == 1)
                                            {
                                                <MudMenuItem OnClick='(() => CancelTicket(context))'>
                                                    <div class='d-flex align-center gap-2'>
                                                        <MudIcon Icon="@Icons.Material.Filled.Cancel" Size='Size.Small'/>
                                                        <MudText Typo='Typo.body2'>Cancel Ticket</MudText>
                                                    </div>
                                                </MudMenuItem>
                                            }
                                        </MudMenu>
                                    </div>
                                </div>
                                <div class="tlistrow-content">
                                    <MudText Class='font12 txt-oflow-elipsis pa-2' Typo='Typo.body2'>@context.TaskDescription</MudText>
                                </div>
                                <div class='tlistrow-footer'>
                                    <div class="tfooter-req px-2">
                                        <MudText Typo='Typo.caption'>Requestor:</MudText>
                                        <EmployeeCardComponent isITEmployee='false' employeeId='context.RequestorId' />
                                    </div>
                                    <div class="tfooter-branch px-2">
                                        <MudField Class='px-2' Label='Branch:' DisableUnderline Margin='Margin.Dense'>
                                            <div class='d-flex align-center gap-2 mt-1'>
                                                <MudIcon Icon='@Icons.Material.Filled.LocationOn' Size='Size.Small' />
                                                <MudText Class='font12 txt-oflow-elipsis'>@context.TicketBranchName</MudText>
                                            </div>
                                        </MudField>
                                    </div>
                                    <div class="tfooter-dept px-2">
                                        <MudText Typo='Typo.caption'>Department:</MudText>
                                        <DepartmentCardComponent employeeId='@context.RequestorId' />
                                    </div>
                                    <div class="tfooter-cat px-2">
                                        <MudText Typo='Typo.caption'>Category:</MudText>
                                        <div class='d-flex align-center gap-2 mt-1'>
                                            <MudIcon Icon='@Icons.Material.Filled.ListAlt' Size='Size.Small' />
                                            <MudText Class='font12 txt-oflow-elipsis'>@context.TicketCategoryName</MudText>
                                        </div>
                                    </div>
                                    <div class="tfooter-assign px-2">
                                        <MudText Typo='Typo.caption'>Assigned to:</MudText>
                                        @if (string.IsNullOrWhiteSpace(context.AssigneeName))
                                        {
                                            <div class='d-flex align-center gap-2'>
                                                <MudAvatar Class='mb-1 mt-1' Image='images/fglogo/fgci1-gs.png' Size='Size.Small' />
                                                <small>Not yet assigned</small>
                                            </div>
                                        }
                                        else
                                        {
                                            <EmployeeCardComponent isITEmployee='true' employeeITId='@(context.AssigneeId != null ?  (long)context.AssigneeId : 0)' />
                                        }
                                    </div>
                                </div>
                            </div>
                        </MudTd>
                    </RowTemplate>
                    <PagerContent>
                        <MudTablePager PageSizeOptions='@GlobalVariable.pageSize' />
                    </PagerContent>
                </MudTable>
            </MudContainer>
        }
    </MudPaper>
</div>